@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

// /dojo-img/shuriken.png

$greystern: rgb(100,88,88);
$coolgrey: rgb(168, 160, 160);
$noto: "Noto Sans", sans-serif;
$blackrevolver: rgba(0, 0, 0, 0.357);
$gentlesharpie: rgba(0, 0, 0, 0.622);
$goodsignature: rgba(0, 0, 0, 0.9);
$dance: "Moon Dance", cursive;

.navbar {
  // overflow: hidden;
  font-family: $noto;
  // background-color: lighten($greystern, 50%);  /* Background color */
  color: $greystern;
  // width: 100%;
  
  padding: 0 10px;
  height: 75px;
  border-radius: 8px;
  border-bottom: 12px solid $gentlesharpie;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
                                   
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rightSideCont {
  // width: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: $greystern; /* Text color */
  text-align: center;
  padding: 14px 20px; /* Padding */
  // border-bottom: 12px solid $coolgrey;
  font-family: $noto;
  text-decoration: none; /* Remove underline */
}

/* Change background color of navbar on hover */
.navbar a:hover {
  // background-color: #ddd; /* Hover background color */
  color: black; /* Text color on hover */
}

#checkLogo {
  display: flex;
  align-self: center;
  position: relative;
  left: -5%;
}

.navImg {
  height: 50px; 
  width: 50px;
}

#tipsText {
  // font-weight: bold;
  list-style-type: none;
  font-size: 14px;
  color: $gentlesharpie;
  // color: darken($gentlesharpie, 5%);
  // color: lighten($greystern, 10%);
  margin: 0 25px; 
}

#tipsText:hover {
  cursor: hidden;
}

.navbarTextColumns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ghostContainer {
  padding: 5px;
  border: 5px solid limegreen;
  width: 30%;
  height: 50px;
  border-radius: 50px;
  border: 2px solid $gentlesharpie;  
  display: flex;
  justify-content: space-between;
}

#navbarInput {
  margin: 0; 
  padding: 10px;
  width: 300px;
  height: 30px;
  font-family: $dance;
  border: transparent;
  background-color: transparent;
  color: $goodsignature;
  font-size: 20px; 
  font-weight: bolder;
}

#navbarInput:focus {
  outline: none; 
}