  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');  
    
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.922);
    /* background-color: #FAF0E6; */
    /* #F8F8FF; #FFFAF0; */
  }

    .ghost {
      opacity: 0.0;
    }

    #introMain {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 100vh;
      min-width: 100vw;
      overflow: hidden;
      box-sizing: border-box;        
    }

    #MainIntro {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;  /* will be start */
      align-items: center;
      min-height: 100vh;
      min-width: 100vw;
      
    }

    #intro-row-main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;    
      
    }  
    #introFooter {
      background-color: #9a7c5e;    
      min-height: 10vh;
      min-width: 100vw;    

      display: flex;
      justify-content: space-between;
      align-items: flex-;
      flex-direction: row;
      
      background-image: url('/dojo-img/shuriken.png');
      background-size: cover;
      background-repeat: no-repeat;
    }

    #footerTabs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    #footerOrigamiSwan {
      height: 85px;
      width: 85px;
      align-self: center;
      position: relative;
      left: 5px; 
    }

    #footerShuriken {
      height: 15px;
      width: 15px;
      align-self: center;
      position: relative;
      right: 5px; 
    }

    .introFooterText {
      font-family: Josefin Sans;
      font-weight: bolder;
      margin-left: 0.5em; 
      margin-right: 0.5em; 
      font-size: 18px; 
    }

    .introFooterText:hover { 
      cursor: pointer;

    }

    #loginSignupMsg {
      color: #351e0e;
      font-size: 18px;
    }

    .halfPint { transform: scale(0.5); }
    
    .line {
      border: 2px solid #dbcfdf;    
    }

    /* react calendar styling haha */

    #candlestickChart {
      border-bottom: 1px solid #dcdcdc;
      display: flex;
      flex: 1;      
      font-family: cursive;      
      border-radius: 6px;
      background-image: url('/img/appleLogo.png');
      background-size: 10%;
      background-position-x: 15%;
      background-position-y: 87%;
      background-repeat: no-repeat;
      position: relative;
      /* top: 75px;  */
      /* flex-grow: grow; */
      /* left: 150px; */
    }    

  /* react-calendar: The main container of the calendar.
  react-calendar__navigation: The navigation bar at the top of the calendar, containing the month/year switcher and navigation buttons.
  react-calendar__month-view__weekdays: The container for the weekdays row.
  react-calendar__month-view__days: The container for the days of the month.
  react-calendar__tile: A single day tile.
  react-calendar__tile--active: The currently selected day tile.
  react-calendar__tile--now: The tile for the current day.
  react-calendar__tile--range: The tiles within a selected date range.
  react-calendar__tile--rangeStart: The start of a selected date range.
  react-calendar__tile--rangeEnd: The end of a selected date range. */

  /* Main calendar container */
  .react-calendar {
    border: 2px solid rgb(100, 88, 88);
    font-family: "Lato", Helvetica, sans-serif;
    line-height: 1.125em;
    height: 600px;
    width: 600px;
    height: fit-content;
    border-radius: 4px; 
    /* top: 75px; */
    /* margin-left: 3em; */
    position: relative;
    /* left: -30px;  */
    /* top: -30px;  */

    /* color: rgb(100,88,88); */
    /* width: 200px; */
  }

  /* Navigation bar */
  .react-calendar__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-bottom: 1em;
    border-bottom: none;
    border-bottom-left-radius: 6px;
    /* border-bottom-right-radius: 6px; */
    /* box-shadow: 4px 4px 4px rgb(100,88,88); */
    color: rgb(100,88,88);
    /* height:  */
  }

  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    border: none;
    padding: 8px;
    color: rgb(100,88,88);
    cursor: pointer;
  }

  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
    cursor: default;
  }

  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }

  /* Weekday labels */
  .react-calendar__month-view__weekdays {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    height: 20px;
    /* border: 2px solid rgb(100,88,88); */
    color: black; 
    font-weight: lighter;
    /* text-shadow: 4px 4px 4px rgb(100,88,88); */

    border-radius: 4px; 
    position: relative;
    top: -5px; 
    
    /* border-radiu */
  }
  .react-calendar__month-view__weekdays:hover { cursor: none; }

  /* Day tiles */
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    color: rgb(100, 88, 88);
    /* color: #4d4d4d; */
    border-radius: 4px;
    border: 2px solid rgb(100, 88, 88);
  }

  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }

  .react-calendar__tile:enabled:hover {
    /* color: transparent; */
    animation-name: shhh;
    animation-duration: 3s;
    animation-iteration-count: 1;
    color: transparent;
  }

  @keyframes shhh {
    /* if we had @mixin and could know which element this came from we could distinguish between today__now or non-today-clicked-days */
    /* wow! */
    33% { opacity: 0.85%; box-shadow: 40px 40px 40px rgb(100, 88, 88); }
    66% { opacity: 0.45%; }
    99% { opacity: 0.15%; }
  }
  
  @keyframes shhhgold { 
    33% { opacity: 0.85%; box-shadow: 40px 40px 40px #fcc41c; }
    66% { opacity: 0.45%; }
    99% { opacity: 0.15%; }    
  } 

  .react-calendar__tile:enabled:focus {
    background-color: #a7a7a7;
    font-size: 25px;
  }

  .react-calendar__tile--now {
    /* considered simple sun  */
    content: '';
    background-image: url('/img/newIconFromMyOtherApp.png');
    background-size: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    /* background-color: rgb(100, 88, 88); */
    /* color: transparent;
    font-weight: bolder;

    background-image: url('/img/singleCheckbox.png');
    background-size: cover; 
    background-repeat: no-repeat; */
    font-size: 25px; 
    animation-name: helloWorld;
    animation-duration: 3s;
    animation-iteration-count: 1;
    color: transparent;
    /* color: whitesmoke;  */
    /* font-weight: lighter; */
  }
  /*          :enabled ?        this made me wonder whether devs can make their own pseudo-classes?  */
  .react-calendar__tile--now:enabled:focus { 
    background-color: transparent; 
    animation-name: shhhgold;
    animation-duration: 1s;
    animation-iteration-count: 1;
    /* shhhgold */
  }

  .react-calendar__tile--now:hover {
    animation-name: shhh;
    animation-duration: 1s;
    animation-iteration-count: 1;

  }

  @keyframes helloWorld {
    33% { opacity: 0; }
    66% { opacity: 0.45%; }
    100% { opacity: 100%; }
  }

  .react-calendar__month-view__days {
    box-shadow: 8px 8px 8px rgb(100,88,88);
    /* box-shadow: 4px 4px 14px rgb(100,88,88); */
  }

    




  /* new classes */

  





  /* new classes */